

/*
:link:visited {
  color: #0f0;
}

:link:hover {
  color: #00f;
}

:link:active {
  color: #f0f;
}
*/


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.content {
  
}



.section-title {
}
.section-subtitle {
}



.table_theme_dark {
}



.table__heading_theme_dark {

}

.table__text_theme_dark {
  
}



.section-title {
}

.section-subtitle {
}

.footer__column_content_info {
  
}

.footer__list-item {
}

.footer__column-link:hover {
  opacity: .2;
  transition: opacity 2s ease-out .03s;
}

.footer__column_content_social {
}
